{% extends "website/base.html" %}

{% block html_title %}Kontaktinformācija{% endblock %}
{% block page_heading_txt %}Kontaktinformācija{% endblock %}

{% block page_body %}
    <div class="text-white bee-background">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 text-center">
                    <p>Aivis Ābele</p>
                    <p>Tel. +371 2641 4607</p>
                    <p>aabele@gmail.com</p>
                    <br>
                    <br>
                    <p>Adrese: LV-4840, Ērgļu novads, Ērgļi, Vestienas iela 14.</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
