{% extends "website/base.html" %}
{% load thumbnail %}

{% block html_title %}Tikai pie mums{% endblock %}

{% block page_body %}
    <div class="pb-4 bg-light">
        <div class="container pb-2 pt-3 bg-dark">
            <div class="row text-light pb-2">
                {% for object in latest_news %}
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <a href="{{ object.get_absolute_url }}" class="text-light">
                                    {% thumbnail object.picture "200x200" crop="center" upscale="False" as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ object.title}}" class="img-fluid rounded">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            <div class="col-8">
                                <h6>
                                    <a href="{{ object.get_absolute_url }}" class="text-light">
                                        {{ object.title }}
                                    </a>
                                </h6>

                                <p class="small">
                                    Publicēts: {{ object.insert_date|date }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-white bee-background">
        <div class="container pt-4 pb-2">
            <div class="row text-dark card-group">
                {% for object in object_list %}
                    <div class="col-12 col-sm-6 col-md-3 pb-3 d-flex align-items-stretch">
                        <div class="card">
                            <a href="{{ object.get_absolute_url }}">
                                <img class="card-img-top" src="{{ object.picture.url }}" alt="{{ object.description }}">
                            </a>

                            <div class="card-body">
                                <p class="card-text h6">
                                    <a href="{{ object.get_absolute_url }}" class="text-dark">
                                        {{ object.description }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_foot %}

    <div class="row">
        <div class="text-center pb-3 col-8 offset-2">
            <h5>Salocīšanas pamācība</h5>
            <div class="pt-2 pb-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/fbAufGNumlU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>



    <p>
        Ir iespējams izveidot stropus ar jums nepieciešamajām lietām, kas
        derēs tieši jūsu standarta bišu rāmjiem.
    </p>

    <p>
        * Iegādei vairumā cena būs zemāka.
    </p>
{% endblock %}
