{% extends "website/base.html" %}

{% block html_title %}Cenas atkarībā no pasūtījuma apjoma{% endblock %}
{% block page_heading_txt %}Cenas atkarībā no pasūtījuma apjoma{% endblock %}

{% block page_body %}
    <div class="text-white bee-background">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-8 offset-2 text-center">

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Vienību skaits</th>
                                <th>Cena (EUR)</th>
                                <th>Cena ar PVN 21% (EUR)</th>
                            </tr>
                            <tr>
                                <th scope="row">100</th>
                                <td>3.69</td>
                                <td>4.46</td>
                            </tr>
                            <tr>
                                <th scope="row">200</th>
                                <td>3.61</td>
                                <td>4.37</td>
                            </tr>
                            <tr>
                                <th scope="row">300</th>
                                <td>3.53</td>
                                <td>4.27</td>
                            </tr>
                            <tr>
                                <th scope="row">400</th>
                                <td>3.41</td>
                                <td>4.13</td>
                            </tr>
                            <tr>
                                <th scope="row">500</th>
                                <td>3.35</td>
                                <td>4.05</td>
                            </tr>
                            <tr>
                                <th scope="row">600</th>
                                <td>3.31</td>
                                <td>4.00</td>
                            </tr>
                            <tr>
                                <th scope="row">700</th>
                                <td>3.25</td>
                                <td>3.93</td>
                            </tr>
                            <tr>
                                <th scope="row">800</th>
                                <td>3.21</td>
                                <td>3.88</td>
                            </tr>
                            <tr>
                                <th scope="row">900</th>
                                <td>3.18</td>
                                <td>3.85</td>
                            </tr>
                            <tr>
                                <th scope="row">1000</th>
                                <td>3.15</td>
                                <td>3.81</td>
                            </tr>
                            <tr>
                                <th scope="row">>1000</th>
                                <td>Lūdzam zvanīt</td>
                                <td>Lūdzam zvanīt</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>
                        <em>
                            Cenas norādītas preci saņemot Rīgā.
                        </em>
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
